@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<!--
<hgroup class="title" style="margin-top:80px">
    <h1>@ViewBag.Title.</h1>
</hgroup>
-->
<div>
    <p>
        <center><div class="alert alert-error">@ViewBag.message</div></center>
    </p>
</div>
	
