<div class="navbar navbar-inverse navbar-top" style="background-color:#142851;width:100%; border:none;border-radius:0px">
    <div class="container">
        <div class="navbar-header">
            <div>
                <h2 style="color:#eae3e3">RESULT VERIFICATION PORTAL, BSEM</h2>
            </div>
        </div>
        <!---->
        <div class="navbar-collapse collapse">   
            @Html.Partial("_LoginPartial")      
        </div>
    </div>
</div>
