@{
    ViewBag.Title = "Contact Here";
}
<div class="row">
    <div class="col-md-4">
        <strong>@ViewBag.Message</strong>
        <address>
            <strong>Board of Secondarry Education, Manipur</strong><br />
            Indo Myanmar Road, NH-39, Sanakhwa Yaima Kollup, Imphal, Manipur 795001<br />
            <abbr title="Phone">P: </abbr> 087942 60730
        </address>
        
    </div>
    <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.860263398764!2d93.93929231454824!3d24.800237984082354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37492653f3d431d7%3A0xc30ab22fee86a43d!2sBoard+of+Secondary+Education+Manipur!5e0!3m2!1sen!2sin!4v1533228613412"
                 width="650" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<div class="col-lg-8" style="display:none">
    <table class="table table-bordered">
        <caption>CONTACT US AT:</caption>
        <tr>
            <th>Sl No</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Contact No</th>
        </tr>
        <tr>
            <td align="center">1.</td>
            <td><strong>M.Lakshmikumar Singh,IAS</strong></td>
            <td><strong>Chairman</strong></td>
            <td align="center" valign="middle">
                <p class=""><strong> 2450981</strong></p>
            </td>
        </tr>
        <tr>
            <td align="center"><span class="">2.</span></td>
            <td align="left" valign="middle"><span class=""><strong>Dr. Chingangbam Sarat</strong></span></td>
            <td align="left" valign="middle"><span class=""><strong>Secretary</strong></span></td>
            <td align="center" valign="middle">
                <p class=""><strong>******9260</strong></p>
            </td>
        </tr>
        <tr>
            <td align="center"><span class="">3.</span></td>
            <td align="left" valign="middle"><span class=""><strong>L.phulchand Meitei</strong></span></td>
            <td align="left" valign="middle"><span class=""><strong>Controller of Examination</strong></span></td>
            <td align="center" valign="middle"><p class=""><strong>******9757</strong></p></td>
        </tr>
        <tr>
            <td align="center"><span class="">4.</span></td>
            <td align="left" valign="middle"><span class=""><strong>Dr.S.Mangijao Singh</strong></span></td>
            <td align="left" valign="middle"><span class=""><strong>Joint secretary(Administration)</strong></span></td>
            <td align="center" valign="middle"><p class=""><strong>******2792</strong></p>        </td>
        </tr>
        <tr>
            <td height="30" align="center"><span class="style88">5.</span></td>
            <td align="left" valign="middle"><span class="style1"><strong>L.Mangi singh</strong></span></td>
            <td align="left" valign="middle"><span class="style1"><strong>Deputy Secretary </strong></span></td>
            <td align="center" valign="middle"><p class="style1"><strong>******5329</strong></p>        </td>
        </tr>
        <tr>
            <td align="center"><span class="">6.</span></td>
            <td align="left" valign="middle"><span class=""><strong>K.Damayenti Devi</strong></span></td>
            <td align="left" valign="middle"><span class=""><strong>Deputy Secretary (Examinations)</strong></span></td>
            <td align="center" valign="middle"><span class=""><strong>******9653</strong></span></td>
        </tr>
        <tr>
            <td align="center"><span class="">7.</span></td>
            <td align="left" valign="middle"><span class=""><strong>Th.Sunita Devi</strong></span></td>
            <td align="left" valign="middle"><span class=""><strong>Deputy Secretary (General)</strong></span></td>
            <td align="center" valign="middle"><span class=""><strong>******6594</strong></span></td>
        </tr>
        <tr>
            <td align="center"><span class="">8.</span></td>
            <td align="left" valign="middle"><span class=""><strong>L.premchand singh</strong></span></td>
            <td align="left" valign="middle"><span class=""><strong>Deputy Secretary (Text Book)</strong></span></td>
            <td align="center" valign="middle"><span class=""><strong>******1161</strong></span></td>
        </tr>
    </table>
</div>